html{
    font-family: cursive;
}
//*Use "." to select elements wiyh a specific class*/
.poem_romantic{
    background-color:crimson  ;
}
.poem_no_romantic{
    background-color:darkkhaki;
}
/*Use element selectors*/
h2{
    color:brown;
}

div{
    width: 40%;
    border: 2px solid  ;
}