html{
    font-family: cursive;
}
/*Use "." to select elements wiyh a specific class*/
.poem_romantic{
    position: static;
    left: 80px;
    /*We use these properties to position the element relative
    to its normalposition*/
    /*right:80px;
    bottom: 80px;*/

    background-color:crimson  ;
}
.poem_no_romantic{
    background-color:darkkhaki;
}
/*Use element selectors*/
h2{
    color:brown;
}

div{
    width: 40%;
    border: 2px solid  ;
}